body {
  background-color:cyan;
}
img{
    height:300px; width:300px;
    }
a {
    font-family: 'Shadows Into Light', cursive;
}
h2{
    font-family: 'Baloo Thambi', cursive;
    }
body{
    text-align:center;
    }
    p{
        color:red;}
        
        h3{
            font-family: 'Baloo Thambi', cursive;
            }
            body {
 background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/calm-reflective-water-background_bjnehswwh__F0000.png");
 background-color: #cccccc;}